<div class="home">
    <section class= "secciones hero">
        <div>
        </div>
    </section>
    <section class= "secciones about">
        <h1>Estudiante de ingeniería de sistemas apasionado por la programación y desarrollo de software, sin embargo mis años de experiencia
        han estado enfocados en proyectos de software, soporte y pruebas funcionales en los ambientes de desarrollo y producción, soy entregado 
        enteramente al nuevo conocimiento y por dar valor agregado a mis asignaciones laborales, tengo conocimiento en varios lenguajes de programación como
        los son JAVA, .NET, PYTHON, varios framework´s como bootstrap, angular, desarrollo web en HTML5, CSS3 y PHP, he trabajado con patrones de diseño específicamente MVC,
        también cuento con experiencia en el área de integración a nivel bancario, creación de servicios en REST y SOAP, incluso herramientas de IMB con Buses de integración, 
        bases de datos como Oracle, sql y Mysql.</h1>
    </section>
    <section class= "secciones proyectos">
        <app-list-project></app-list-project>
        
    
            <!-- A card with given width -->
    
    </section>

</div>