<br>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ingeniero de soporte</h5>
          <p class="card-text">Analizar, desarrollar e implementar soluciones que cumplan con los
            requerimientos solicitados.</p>
          <a href="https://www.linkedin.com/in/kevin-triana-42a829a2/" class="btn btn-primary">Mas informaciòn</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lider funcional</h5>
          <p class="card-text">Encargado de llevar a cabo todas las tareas relacionadas a los proyectos de implementación de software en los clientes de la compañía</p>
          <a href="https://www.linkedin.com/in/kevin-triana-42a829a2/" class="btn btn-primary">Mas informaciòn</a>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Analista SOA</h5>
          <p class="card-text">Implementación de las soluciones posibles a eventos relacionados con incidentes en el área de integración, asignación de procesos y resultados según la demanda de las operacione</p>
          <a href="https://www.linkedin.com/in/kevin-triana-42a829a2/" class="btn btn-primary">Mas informaciòn</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Analista SOA ll</h5>
          <p class="card-text">Documentación de servicios entregados por parte del área de desarrollo y certificación, arquitectura y autogestión de los mismos. Desarrollo en IBM toolkit, Esql</p>
          <a href="https://www.linkedin.com/in/kevin-triana-42a829a2/" class="btn btn-primary">Mas informaciòn</a>
        </div>
      </div>
    </div>
  </div>